

* {
 margin: 5px;
 box-sizing: border-box;
  height: 100%;
  width: 100%;
}
body{
  background: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  overflow: scroll;
 
  scroll-margin: 100px 0 0 100px;
  

  
}

header{
  background: #0a52f9;
  padding: 2em 0 2em 0;
  position: fixed;
  height: 100px;
  
 
}
.main{
  display: flex;
  flex: 1;
  
  
 
}
.sidebar{
  background: #5182f4;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}
.nav{
  background: #5182f4;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
  
 
}
main{
  background: #a19d99;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

footer{
  background: #0a52f9;
  padding: 1em 0 1em 0;
  position: fixed;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}
       